.screen-two-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.new-asset-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.installed-product {
  text-align: center; 
  margin: 0; 
  max-width: 100%; 
  word-wrap: break-word; 
}

.specification-input-container, .asset-placement-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.prompt {
  font-size: 15px;
  font-weight: bold;
}

.detail-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  position: relative;
}

.combo {
  width: 100%;
  font-size: 12px;
}

.combo-container {
  position: relative;
  z-index: 10; 
  width: 100%;
  background-color: white;  
}

.product-message-p {
  font-size: 12px;
}


.nav-button-container-two {
  position: relative; 
  height: 75px;
  bottom: 10px; 
  display: flex;
  justify-content: flex-end; 
  width: 100%; 
}

.button-container-two {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.continue-button {
  width: 150px;
  height: 100%;
  background-color: rgb(51, 125, 157);
  font-size: 15px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
}

.edit-button {
  font-size: 12px;
  width: 90px;
  height: 80%;
  border-radius: 10px;
  font-weight: bold;
  border: solid black 2px;
  background-color: white;
  color: orange;
}

.missing-inventory-container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.prompt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.missing-text {
  text-align: center; 
  margin: 0; 
  max-width: 100%; 
  word-wrap: break-word; 
}

.missing-input {
  margin-top: 0;
}

.image-capture-container {
  margin-top: 100px;
  height: 100%;
}